.button {
  font: inherit;
  border: 1px solid #773344;
  background: #773344;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #d44d5c;
  border-color: #d44d5c;
}

.button:focus {
  outline: none;
}
